.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'content'
    'footer';
  justify-items: center;
  padding: 14px 0 105px 0;
}
