.button {
  font-weight: $font-weight-semi-bold;
  display: inline-block;
  cursor: pointer;
  border-radius: $border-radius;
  padding: 19px 28px;
  white-space: nowrap;

  &--text {
    color: #000;
    background-color: transparent;
  }

  &--contained {
    color: #fff;
    background: $primary-linear-gradient;

    &:hover {
      background: linear-gradient(102.65deg, #ef3f6e 10%, #f857a6 100%);
    }
  }
}
