// Colors
$primary-color: #343F52;
$secondary-color: #60697B;
$info-color: #605DBA;
$light-color: #E2E2F3;
$dark-color: #CFCEEA;

// Gradients
$primary-linear-gradient: linear-gradient(100.14deg, #F857A6 10%, #EF3F6E 100%);
$primary-linear-gradient-turned: linear-gradient(102.65deg, #ef3f6e 10%, #f857a6 100%)

// Typography
$font-family: Urbanist, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;

// Spacing
$spacing-unit: 8px;

// Borders
$border-radius: 8px;

// Sizes
$max-width: 1295px;
